/*
	@author:			dawgp0und
	@copyright:			Copyright 2012 (c). All Rights Reserved
*/

/*	Common HTML styles	*/
*
{
    margin:             0px;
    padding:            0px;
}
html
{
    width:              100%;
    height:             100%;
    overflow:           hidden;
}
body
{
    font-family:        Helvetica, Arial, "Sans-Serif";
    font-size:          0.813em;
    color:              #111111;
    background:         #FFFFFF;
    margin-top:         10px;
}
img
{
    background:         #FFFFFF;
    border:             0px;
}
ul, ol, li
{
    list-style:         none;
}
table
{
    border:             0px;
    border-collapse:    collapse;
    width:              100%;
}
div
{
    width:              100%;
    position:           relative;
    top:                0px;
    left:               0px;
}
a
{
    text-decoration:    none;
    color:              #0066FF;
}
a:hover
{
    text-decoration:    underline;
}

/*	Classes	*/
.commonWidth
{
    left:               50%;
    width:              400px;
    padding:            20px 0px;
    margin-left:        -200px;
}
.displayNone
{
    display:            none;
}

/*	Divs	*/
#title
{
    border:             1px solid #CCCCCC;
    padding:            5px 0px;
    text-align:         center;
}
#form_container
{
	background:			#FFFFFF;
}
#progress_bar
{
    width:              0px;
    border:             0px;
    height:             12px;
    position:           absolute;
    background:         darkblue;
    background:         -moz-linear-gradient(center top, #006600, #003300);
    background:         -webkit-gradient(linear, center top, center top, from(#006600), to(#003300));
    filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#003300');
}
#progress_bar_container
{
    height:             12px;
    border:             0px;
    padding:            0px;
    background:         #BEBEBE;
}